#section_destinations {
    width: 1200px;
    margin: auto;
}

/* ========================= Media queries ============================= */

/* @media only screen and (max-width: 1250px) {
}

@media only screen and (max-width: 975px) {
}

@media only screen and (max-width: 775px) {
} */