li {
    list-style: none;
    ;
}

#gallery {
    display: block;
    width: 100%;
    padding: 32px;
}

#gallery_list {
    display: flex;
    width: 100%;
}

.gallery_list_item {
    display: block;
    position: relative;
    width: calc((100% / 3) - 32px);
    margin: 16px;
    padding: 16px;

    background-color: gray;
}

.gallery_list_item_link {
    display: block;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.gallery_list_item_img {
    display: block;
    width: 100%;
    height: auto;
}

.gallery_list_item_titre {
    width: 100%;

    color: violet;
    text-align: center;
}

.gallery_list_item_prix {
    width: 100%;

    color: violet;
    text-align: center;
}